<!doctype html>
<html>

  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'style-base.css' | asset_url | stylesheet_tag }}
    {{ 'style-main.css' | asset_url | stylesheet_tag }}
    {{ 'style-header.css' | asset_url | stylesheet_tag }}
    {{ 'style-image-with-text.css' | asset_url | stylesheet_tag }}
    {{ 'style-product-slider.css' | asset_url | stylesheet_tag }}
    {{ 'style-collage.css' | asset_url | stylesheet_tag }}
    {{ 'style-collection-master.css' | asset_url | stylesheet_tag }}
    {{ 'style-product-list.css' | asset_url | stylesheet_tag }}
    {{ 'style-product-card.css' | asset_url | stylesheet_tag }}
    {{ 'style-pdp.css' | asset_url | stylesheet_tag }}
    {{ 'style-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'style-register.css' | asset_url | stylesheet_tag }}


    <!-- slider link -->
    {{ 'https://unpkg.com/swiper@8/swiper-bundle.min.css' | stylesheet_tag }}
    <!-- {{ 'https://unpkg.com/swiper/swiper-bundle.min.css' | stylesheet_tag }} -->

  </head>

  <body>
    {% section 'announcement-bar' %}

    {% section 'header' %}

    {% section 'cart-drawer' %}

    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}


    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
      </script> -->


    {{ 'https://unpkg.com/swiper@8/swiper-bundle.min.js'| script_tag }}
    {{ 'script-app.js' | asset_url | script_tag }}
  </body>


</html>