<menu class="menu-bar">
    <div class="menu-bar__title">
        <span>My Account</span>
    </div>
    <form class="menu-bar__list">
        <div class="menu-item">
            {% if template contains 'account' %}
            <a href="{{ routes.account_url }}" class="active">Account Overview</a>
            {% else %}
            <a href="{{ routes.account_url }}">Account Overview</a>
            {% endif %}
        </div>
        <div class="menu-item">
            {% if template contains 'order' %}
            <a href="{{ customer.orders[0].customer_url }}" class="active">Order Details</a>
            {% else %}
            <a href="{{ customer.orders[0].customer_url }}">Order Details</a>
            {% endif %}
        </div>
        <div class="menu-item">
            {% if template contains 'addresses' %}
            <a href="{{ routes.account_addresses_url }}" class="active">Address Book</a>
            {% else %}
            <a href="{{ routes.account_addresses_url }}">Address Book</a>
            {% endif %}
        </div>
    </form>
</menu>

<script>
    console.log("{{ template }}")
</script>