<section class="collage">
    
        <div class="collage-inner">
            {% for block in section.blocks %}

                <div class="collage-item collage-item__{{ block.type }}">
                    {% case block.type %}
                        {% when 'image' %}
                            <div class="collage-block collage-banner">
                                {%- if block.settings.image != blank -%}
                                    <img src="{{ block.settings.image | image_url }}" alt="">
                                {%- else -%}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                {%- endif -%}
                            </div>
                        
                        {% when 'collection' %}
                        
                        
                        
                            <div class="collage-block collage-collection">
                            
                                <div class="collection-item">
                                      <div class="collection-item__img">
                                          <img alt="{{ block.settings.collection.title }}" src=" {{ block.settings.collection.featured_image | image_url }} " />
                                      </div>
                                      <div class="collection-item__type">
                                        {% for option in block.settings.collection.sort_options %}
                                          {% if option.value contains 'best-' %}
                                            <span>{{ option.name | upcase }}</span>
                                          {% endif %}
                                        {% endfor %}
                                      </div>
                                      <h5 class="collection-item__title">{{ block.settings.collection.title | upcase  }}</h5>
                                      <p class="collection-item__text">{{ block.settings.collection.description }}</p>
                                      <a href="{{ block.settings.collection.url | within: collection }}" class="collection-item__link">
                                        {{ block.settings.button_label | escape | upcase }}
                                      </a>
                                </div>
                            </div>
                    {% endcase %}
                </div>

            {% endfor %}
        </div>
   
</section>


{% schema %}
{
    "name": "t:sections.collage.name",
    "tag": "section",
    "class": "section",
    
    "blocks": [
    {
        "type": "image",
        "name": "t:sections.collage.blocks.image.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.collage.blocks.image.settings.image.label"
          }
        ]
      },
      {
        "type": "collection",
        "name": "t:sections.collage.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collage.blocks.collection.settings.collection.label"
          },
          {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      }
    ],
    "max_blocks": 2,
    "presets": [
      {
        "name": "t:sections.collage.presets.name",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
}

{% endschema %}