{{ "-style-header.css" | asset_url | stylesheet_tag }}

<header class="header-main">
	<div class="nav-wrapper color-{{ section.settings.color_scheme }}">
		<div class="container">
			<nav class="nav">
				<div class="nav-logo">
					<a href="/"> {% render 'logo' %} </a>
				</div>
				<ul class="nav-list">
					{% for link in linklists.main-menu.links %}
					<li class="nav-list__item">
						<a href="{{ link.url }}">{{ link.title | capitalize }}</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="nav-action">
					{% for link in linklists.menu-action.links %}
					<li class="nav-list__item">
						{% assign linkName = link.title %} {% case linkName %} {% when
						'search' %}
						<a href="{{ link.url }}"> {% render 'search' %} </a>
						{% when 'profile' %}
						<a href="{{ link.url }}"> {% render 'user' %} </a>
						{% when 'bag' %}
						<span id="cart-btn"> {% render 'bag' %} </span>
						{% endcase %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>

<script>
	if ("{{ template }}" != "index") {
		document.querySelector(".header-main").classList.add("header-dark");
	}
</script>

{% schema %}
{
	"name": "t:sections.header.name",
	"class": "nav-wrapper"
	
}
{% endschema %}