{{ "-style-header.css" | asset_url | stylesheet_tag }}

<header class="header-main">
	<div class="nav-wrapper color-{{ section.settings.nav-color }}">
		<div class="container">
			<nav class="nav">
				<div class="nav-logo">
					<a href="/"> {% render 'logo' %} </a>
				</div>
				<ul class="nav-list">
					{% for link in section.settings.menu-main.links %}
					<li class="nav-list__item">
						<a href="{{ link.url }}">{{ link.title | capitalize }}</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="nav-action">
					{% for link in section.settings.menu-action.links %}

					<li class="nav-list__item">
						{% assign linkName = link.title %} {% case linkName %} {% when
						'search' %}
						<a href="{{ link.url }}"> {% render 'search' %} </a>
						{% when 'profile' %}
						<a href="{{ link.url }}" class="profile"> {% render 'user' %} </a>
						{% when 'bag' %}
						<span id="cart-btn"> {% render 'bag' %} </span>
						{% endcase %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>

<script>
	if ("{{ template }}" != "index") {
		document.querySelector(".header-main").classList.add("header-dark");
	}

	if (!("{{ shop.customer_accounts_enabled }}" && "{{ customer }}")) {
		document.querySelector('.profile').setAttribute('href', '/account/register')
	}
</script>

{% schema %}
{
"name": "t:sections.header.name",
"class": "nav-wrapper",
"settings": [
{
"type": "link_list",
"id": "menu-main",
"label": "Select menu links"
},
{
"type": "link_list",
"id": "menu-action",
"label": "Select menu action links"
},
{
"type":"select",
"id":"nav-color",
"options":[
{
"value": "transparent",
"label": "t:sections.all.colors.transparent.label"
},
{
"value": "accent-1",
"label": "t:sections.all.colors.accent_1.label"
},
{
"value": "accent-2",
"label": "t:sections.all.colors.accent_2.label"
},
{
"value": "background-1",
"label": "t:sections.all.colors.background_1.label"
},
{
"value": "background-2",
"label": "t:sections.all.colors.background_2.label"
},
{
"value": "inverse",
"label": "t:sections.all.colors.inverse.label"
}
],
"default": "background-1",
"label": "t:sections.all.colors.label"
}
]

}
{% endschema %}