<section class="image-with-text">
    <div class="image-with-text__image">
       {% if section.settings.image != blank %}
           <img src="{{ section.settings.image | image_url }}" alt="">
        
        {% else %}
          {{ 'hero-full.png' | asset_url | img_tag: 'Hero image' }}
        {% endif %}
        
    </div>

    <div class="container">
        <div class="image-with-text__text">
            {% if section.settings.title != blank %}
                <h2>{{ section.settings.title | escape }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <p>{{ section.settings.text }}</p>
            {% endif %}
            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <a class="c-btn c-btn--arrow" href="{{ section.settings.button_link }}">
                    <span>{{ section.settings.button_label | escape }}</span>
                    <span>{% render 'arrow-right' %}</span>
                </a>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Team barbell"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Team Barbell was to design a piece of equipment that matches the performance and quality of other elite level competition bars.</p>"
                              },
                              {
                                "type": "text",
                                "id": "button_label",
                                "label": "Button label"
                              },
                              {
                                "type": "url",
                                "id": "button_link",
                                "label": "Button link"
                              }
                            ],
                            "presets": [
                              {
                                "name": "Image with text",
                                "category": "Image"
                              }
                            ]
                                    }
{% endschema %}