{{ 'https://unpkg.com/swiper@8/swiper-bundle.min.css' | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}



<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  <div class="product-details">
    <div class="product-details__slider">
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          {% for image in product.images %}
          <div class="swiper-slide">
            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
          </div>

          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="product-details__content">
      <h1>{{ product.title | upcase }}</h1>
      <div class="product-variant__price">
        <span id="variant-price">{{current_variant.price | money}}</span>
        <span id="variant-price-old" class="variant-price-old">{{current_variant.compare_at_price | money}}</span>

      </div>
      <div class="product-card__stars">
        <div class="yotpo bottomLine" data-appkey="RdS4XwWMjTCMqHJgeTUlVwjqpAd41UiFCXbSOWdZ"
          data-domain="{{shop.permanent_domain | escape }}" data-product-id="{{ product.id }}"
          data-product-models="{{ product.id }}" data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
          data-description="{{ product.description | escape }}"
          data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div>
      </div>

      <div class="product-affirm">
        <span>pay as low as 56/mo Learn More</span>
      </div>

      <p class="product-desc">
        {{ product.description }}
      </p>

      <div class="add-to-cart">
        <div class="product__options">
          {% for variant in product.variants %}
          <div class="product__option">

            {% if variant.available %}

            <input class="all-variants" type="radio" name="id" data-variant-price="{{ variant.price | money }}"
              data-variant-price-old="{{ variant.compare_at_price | money }}" id="{{ variant.id }}"
              value="{{ variant.id }}" {% if variant.available and variant.price==current_variant.price %} checked {%
              endif %}>
            <label for="{{ variant.id }}">{{ variant.title }}</label>

            {% else %}
            <label class="sold-out" for="variant-{{ forloop.index }}">{{ variant.title }}</label>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <input style="display: none;" type="number" id="Quantity" name="quantity" value="1" min="1">

        {% if product.metafields.accentuate.free-shipping %}
        <div class="product-shipping">
          <span><em>Available for Free shipping!</em></span>
        </div>
        {% endif %}

        <button class="btn-primary" type="submit" name="add">Add to Cart</button>
      </div>


      <div class="product-recommendations">
        {% assign recommendedProducts = product.metafields.accentuate.recommendedProducts | split: "|" %}

        <h4>Frequently bought with</h4>
        <div class="product-recommendations__content">
          {% for productItem in recommendedProducts %}
          <div class="recommendations-item">

            <div>
              <img src="{{all_products[productItem].featured_image | img_url }}" alt="">
            </div>
            <div>
              <h5>{{all_products[productItem].title}}</h5>
              <a href="/cart/add">Add To Cart</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

</form>



{{ 'https://unpkg.com/swiper@8/swiper-bundle.min.js'| script_tag }}
{{'https://code.jquery.com/jquery-3.6.0.min.js' | script_tag }}
<!-- {{'script-cart.js' | asset_url | script_tag }} -->


<script>
  let swiper = new Swiper(".product-swiper", {
    slidesPerView: 1,
    loop: true,
    direction: "vertical",
    // allowTouchMove: true,
    draggable: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<script>
  const priceContainerNew = $("#variant-price");
  const priceContainerOld = $("#variant-price-old");
  const variantRadio = $(".all-variants");
  console.log(variantRadio[0].id)

  let formData = {
    'items': [{
      'id': variantRadio[0].id,
      'quantity': 1
    }]
  };


  $(variantRadio).on("click", function () {
    let priceNew = $(this).attr("data-variant-price");
    let priceOld = $(this).attr("data-variant-price-old")
    priceContainerNew.text(priceNew);
    priceContainerOld.text(priceOld)

    formData["items"][0] = {
      'id': $(this).attr("id"),
      'quantity': 1
    }
    console.log('formdata', formData)
  });


  let cartForm = document.querySelector('form[action$="/cart/add"]');


  cartForm.addEventListener("submit", (e) => {
    e.preventDefault();
    let cartDrawer = document.getElementById('cart-drawer')


    // let formData = new FormData(addToCartForm);


    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        if (response.ok) {
          // if response of, then open cart drawer
          cartDrawer.classList.add('cart-open')
          cartBody.style.right = 0;

          return getProducts()
        } else {
          alert('Product is already in cart')
        }
      })
      .catch((error) => {
        return console.log('Error:', error)
      });

  })

</script>