<div class="container">

    <div class="product-slider swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {%- for block in section.blocks -%}
            <script>
                console.log('{{block.settings.collection.title }}')
            </script>
               <div class="product-slide swiper-slide">
                    <a href="{{ block.settings.collection.url }}" class="product-item">
                        <div class="product-item__img">
                            <img alt="{{ block.settings.collection.title }}" src=" {{ block.settings.collection.image | image_url }} " />
                        </div>
                        
                        <div class="product-item__title">
                            <h5 class="">{{ block.settings.collection.title }}</h5>
                            {% render 'arrow-right' %}
                        </div>
                    </a>
                </div>
            {%- endfor -%}
            
        </div>


        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</div>


{% schema %}

{
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section",
   
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured collection",
            "label": "t:sections.featured-collection.settings.title.label"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "t:sections.featured-collection.blocks.name",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "t:sections.featured-collection.blocks.settings.collection.label"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "collection"
            }
        ]
  }
}

{% endschema %}
