<div class="container">
    <div class="product-list">
        <h1 class="product-list__title ">{{ collection.title | upcase }}</h1>
        <!-- {%- if collection.description != blank -%}
            <p>{{ collection.description }}</p>
        {%- endif -%} -->

        <ul class="collection-list">
            {% for item in collections %}

            {% if request.path == item.url %}
            {% assign activeClass = 'active' %}
            {% else %}
            {% assign activeClass = '' %}
            {% endif %}

            <script>
                console.log('{{item.url}}' == '{{ request.path }}')
            </script>

            {% unless item.handle contains 'master' %}
            <a class="collection-list--link {{activeClass}}" href="{{ item.url }}">
                {{item.title | upcase}}
            </a>
            {% endunless %}
            {% endfor %}
        </ul>

        <ul class="collection-products">
            {%- for product in collection.products -%}
            <li>
                <a class="product-card" href="{{ product.url }}">
                    <div class="product-card__badges">
                        {% if product.metafields.accentuate.category != blank %}
                        <div class="card-badge card-badge-fill">{{product.metafields.accentuate.category}}</div>
                        {% endif %}
                        {% if product.compare_at_price != blank %}
                        <div class="card-badge card-badge-fill">Sale</div>
                        {% endif %}
                        {% if product.metafields.accentuate.free-shipping %}
                        <div class="card-badge">Free Shipping</div>
                        {% endif %}
                    </div>
                    <div class="product-card__img">
                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                    </div>
                    <h5 class="product-card__title">{{ product.title | upcase }}</h5>
                    <div class="product-card__stars">
                        <div class="yotpo bottomLine" data-appkey="RdS4XwWMjTCMqHJgeTUlVwjqpAd41UiFCXbSOWdZ"
                            data-domain="{{shop.permanent_domain | escape }}" data-product-id="{{ product.id }}"
                            data-product-models="{{ product.id }}" data-name="{{ product.title | escape }}"
                            data-url="{{ shop.url }}{{ product.url }}"
                            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                            data-description="{{ product.description | escape }}"
                            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
                        </div>
                    </div>


                    <div class="product-card__price">
                        <span id="variant-price">{{product.price | money}}</span>
                        <span id="variant-price-old" class="variant-price-old">{{product.compare_at_price |
                            money}}</span>

                    </div>


                </a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</div>