<div class="container">
    <div class="product-list">
        <h1 class="product-list__title ">{{ collection.title | upcase }}</h1>
        <!-- {%- if collection.description != blank -%}
            <p>{{ collection.description }}</p>
        {%- endif -%} -->

        <ul class="collection-list">
            {% for item in collections %}

            {% if request.path == item.url %}
            {% assign activeClass = 'active' %}
            {% else %}
            {% assign activeClass = '' %}
            {% endif %}

            <script>
                console.log('{{item.url}}' == '{{ request.path }}')
            </script>

            {% unless item.handle contains 'master' %}
            <a class="collection-list--link {{activeClass}}" href="{{ item.url }}">
                {{item.title | upcase}}
            </a>
            {% endunless %}
            {% endfor %}
        </ul>

        <ul class="collection-products">
            {%- for product in collection.products -%}
            <li>
                <a class="product-card" href="{{ product.url | within: collection }}">
                    <div class="product-card__badges">
                        {% if product.metafields.accentuate.category != blank %}
                        <div class="card-badge card-badge-fill">{{product.metafields.accentuate.category}}</div>
                        {% endif %}
                        {% if product.metafields.accentuate.free-shipping %}
                        <div class="card-badge">Free Shipping</div>
                        {% endif %}
                    </div>
                    <div class="product-card__img">
                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                    </div>
                    <h5 class="product-card__title">{{ product.title | upcase }}</h5>
                    <div class="product-card__stars">
                        {% for item in (1..product.metafields.accentuate.stars) %}
                        <span>{% render 'star' %}</span>
                        {% endfor %}
                    </div>
                    <span class="product-card__price">
                        {%- if product.price_varies -%}
                        {{ product.price_min | money_without_trailing_zeros }}
                        <span aria-hidden="true">+</span>
                        {%- else -%}
                        <p>
                            {{ product.price | money_without_trailing_zeros }}
                        </p>
                        {%- endif -%}
                    </span>

                </a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</div>