{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}





<div class="product-details">
  <div class="product-details__slider">
    <div class="swiper product-swiper">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        <div class="swiper-slide">
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>

        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="product-details__content">
    <h1>{{ product.title }}</h1>
    <div class="product-variant__price">
      <span id="variant-price"></span>
    </div>

    <div>{{ product.description }}</div>

    <div>

      {% for item in product.variants %}
      <div id="selectVariant">
        <button class="variantBtn" id="all-variants" data-title="{{item.title}}">{{item.title}}</button>
      </div>
      {% endfor %}
    </div>
  </div>

</div>






<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  {% for variant in product.variants %}
  {% if variant.available %}

  <option value="{{ variant.id }}">
    {% assign priceCurrent = variant.price %}
    {{ variant.title }} - {{ variant.price | money_with_currency }}
  </option>
  {% else %}
  <option disabled="disabled">
    {{ variant.title }} - sold out
  </option>
  {% endif %}
  {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>






<script defer>



  // price of product
  let variantPrice = document.getElementById('variant-price');
  // options
  let allVariants = document.querySelectorAll('#all-variants');
  // all vairants from liquid obj
  let variantLiquid = JSON.parse('{{product.variants | json}}')


  // currency formatter
  let dollarUS = Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });


  allVariants[0].classList.add('active')
  variantPrice.innerText = `${dollarUS.format(variantLiquid[0].price)}`;

  // looping through option nodes
  for (let i = 0; i < allVariants.length; i++) {
    // checking if variant is available
    if (variantLiquid[i].available) {
      // adding click listener to nodes
      allVariants[i].addEventListener('click', () => {

        // checking title of variant with dataset attr of nodes
        if (variantLiquid[i].title == allVariants[i].dataset.title) {
          // setting price of clicked variant

          variantPrice.innerText = `${dollarUS.format(variantLiquid[i].price)}`;

          // applying active class to clicked variant
          if (document.querySelector('.variantBtn.active') !== null) {
            document.querySelector('.variantBtn.active').classList.remove('active');
          }
          allVariants[i].classList.add("active");
        }
      })
      // if variant is not available
    } else {
      allVariants[i].disabled = true;
    }
  }
</script>