{{ 'style-search.css' | asset_url | stylesheet_tag }}

<div class="container">
  <form action="{{ routes.search_url }}" class="search-form">
    <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}">
    <button type="submit" class="btn-primary">Search</button>
  </form>

  <script>
    console.log('{{ search.results | json }}')
  </script>



  {% if search.results != blank %}
  <div class="search-content"></div>
  {% for item in search.results %}
  <!-- item details -->

  <a href="{{ item.url }}" class="search-item">
    <div class="search-item__img">
      <img src="{{ item.featured_image | img_url: 'medium' }}" alt="{{ item.title }}">
    </div>
    <h4>{{ item.title }}</h4>
    <h5>{{ item.price | | money_with_currency }}</h5>

  </a>


  {% endfor %}
</div>
{% else %}
<div class="empty-container">
  <h3>No results</h3>
</div>
{% endif %}

</div>